<footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section class="container p-4 pb-0">
        <!-- Left -->
        <div class="me-5 d-none d-lg-block text-align: center">
            <h6>Get connected with us on social networks:
                <div class="social-links">
                  <a href="https://www.facebook.com/" class="social-icon facebook" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook"></i></a>
                  <a href="https://x.com/" class="social-icon x" target="_blank" rel="noopener noreferrer"><i class="bi bi-x"></i></a>
                  <a href="https://www.google.com/" class="social-icon google" target="_blank" rel="noopener noreferrer"><i class="bi bi-google"></i></a>
                  <a href="https://www.instagram.com/" class="social-icon instagram" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram"></i></a>
                  <a href="https://www.linkedin.com/feed/" class="social-icon linkedin" target="_blank" rel="noopener noreferrer"><i class="bi bi-linkedin"></i></a>
                  <a href="https://github.com/bethel-school-of-technology/team-interfaces-frontend" class="social-icon github" target="_blank" rel="noopener noreferrer"><i class="bi bi-github"></i></a>
                </div>
            </h6>
        </div>
      
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>CoinSpace.com
            </h6>
            <p>
              We are here to help you get to know the Crypto market and have up to date information before and after you buy.
            </p>
          </div>
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Get To Know The Team
            </h6>
            <p>
              <a href="/about-us" class="text-reset">About Us</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="https://www.indeed.com/" class="text-reset" target="_blank" rel="noopener noreferrer">Careers</a>
            </p>
            <p>
              <a href="https://help.crypto.com/en/" class="text-reset" target="_blank" rel="noopener noreferrer">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact US
            </h6>
            <p><i class="fas fa-home me-3"></i> 123 4th, New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info&#64;coinspace.com PH:(234)567-8901
            </p>
            <p><i class="fas fa-phone me-3"></i></p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>&copy; {{currentYear}} CoinSpace.com</p>
            </div>
        </div>
    </div>
</footer>