.main-content {
  margin-top: 70px;
}

.promptOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);  /* Semi-transparent background */
  backdrop-filter: blur(5px); /* Apply blur effect to the background */
  z-index: 1000;  /* Make sure the overlay is above the content */
  display: flex;
  justify-content: center;
  align-items: center;
}
.prompt-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 1000;
}

.prompt-box button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.prompt-box button:hover {
  background-color: #f0f0f0;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-content {
      margin-top: calc(200px + 1rem);
  }
}

@media (min-width: 769px) and (max-width: 1090px) {
  .main-content {
    margin-top: calc(200px + 1rem);
  }
}