.main-content {
  margin-top: 70px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .main-content {
      margin-top: calc(200px + 1rem);
  }
}

@media (min-width: 769px) and (max-width: 1090px) {
  .main-content {
    margin-top: calc(200px + 1rem);
  }
}