<div class="main-content">
  <app-navbar></app-navbar>


  <!-- User Information -->
  <div class="user-info title">
    <h2> {{ currentUser.name }}'s Transactions</h2>
  </div>

  <!-- Open Transactions Table -->
  <div class="table-section">
    <h3 *ngIf="cryptoId" class="title">Open Transactions for Crypto: {{ cryptoId }}</h3>
    <h3 *ngIf="!cryptoId" class="title">Open Transactions</h3>
    <table class="table table-dark">
      <thead>
        <tr class="table-active">
          <th>Date, Time</th>
          <th>Crypto</th>
          <th class="center">Amount</th>
          <th class="currency">Buy Price Per Coin</th>
          <th class="currency">Total Buy Value</th>
          <th class="currency">Current Value Per Coin</th>
          <th class="currency">Total Current Value</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="openTransactions.length == 0">
          <td>No open transactions</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let transaction of openTransactions">
          <td>{{ transaction.buyDate | date:'short' }}</td>
          <td>{{ transaction.symbol }} ({{ transaction.name }})</td>
          <td class="center">
            {{ transaction.amount % 1 === 0 ? (transaction.amount | number:'1.0-0') : (transaction.amount | number:'1.3-3') }}
          </td>
          <td class="currency">{{ transaction.buyPrice | currency:'USD': 'symbol' }}</td>
          <td class="currency">{{ getBuyValue(transaction) | currency:'USD':'symbol' }}</td>
          <td class="currency">{{ transaction.currentValue| currency:'USD': 'symbol' }}</td>
          <td class="currency">{{ getTotalValue(transaction) | currency:'USD':'symbol' }}</td>
          <td><button *ngIf="transaction.amount > 0" [disabled]="loading" class="btn btn-danger" type="button"
              (click)="openPrompt(transaction)">Sell</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Closed Transactions Table -->
  <div class="table-section">
    <h3 *ngIf="cryptoId" class="title">Closed Transactions for Crypto: {{ cryptoId }}</h3>
    <h3 *ngIf="!cryptoId" class="title">Closed Transactions</h3>
    <table class="table table-dark">
      <thead>
        <tr class="table-active">
          <th>Date, Time</th>
          <th>Crypto</th>
          <th class="center">Amount</th>
          <th class="currency">Buy/Sell Price</th>
          <th class="currency">Profit/Loss</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="closedTransactions.length == 0">
          <td>No closed transactions</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr *ngFor="let transaction of closedTransactions">
          <td>{{ transaction.buyDate | date:'short' }}</td>
          <td>{{ transaction.symbol }} ({{ transaction.name }})</td>
          <td class="center">
            {{ transaction.amount % 1 === 0 ? (transaction.amount | number:'1.0-0') : (transaction.amount | number:'1.3-3') }}
          </td>
          <td class="currency">
            Buy: {{ transaction.buyPrice | currency:'USD': 'symbol' }}<br>
            Sell: {{ transaction.sellPrice | currency:'USD': 'symbol' }}
          </td>
          <td [class.profit]="transaction.profitLoss! >= 0" [class.loss]="transaction.profitLoss! < 0" class="currency">
            {{ transaction.profitLoss! | currency:'USD': 'symbol' }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

<div *ngIf="showPrompt" class="promptOverlay">
  <div *ngIf="showPrompt" class="prompt-box">
    <h3>Are you sure you want to sell the quantity of</h3>
    <h3>{{sellingTransaction.amount}} -
      {{sellingTransaction.name}} for a Profit/Loss of:
      {{ (((sellingTransaction.amount) * (sellingTransaction.currentValue ?? 0 )) - ((sellingTransaction.amount) *
      (sellingTransaction.buyPrice)) )| currency: 'USD': 'symbol' }} </h3>

    <button (click)="onConfirm()" style="font-weight: 500;">Confirm</button>
    <button (click)="onCancel()" style="font-weight: 500;">Cancel</button>
  </div>
</div>