.navbar-logo {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .navbar-logo img {
    max-width: 40px;  /* Adjust this value to your desired size */
    height: auto;
    object-fit: contain;
  }