<div class ="background-image" style="background-image: url('/assets/images/purple.jpg')">
    <div class="about-container" style="color: white">
        <button class="btn btn-danger btn-lg" style="margin-top: 20px;" (click)="goBack()">Go Back</button>
        <h1>About Us</h1>
        <div class="content" style="color: black">
            <h2>Welcome to CoinSpace!</h2>
            <br>
            <section class="company-info">
                <h3>Get To Know Our Team And Connect</h3>
                <div class="team-members-grid">
                    <div class="team-member-card">
                        <img [src]= "'/assets/images/Rudy.jpg'" class="rounded float-left">
                        <div class="card-content">
                            <h3>Rudy Weiler</h3>
                            <p class="role">Co-CEO, Founder, and Creator</p>
                            <p class="description">Driven and determined to stay on the cutting egde of technology and innovation, Rudy helps bring guidence and productivity to the CoinSpace team.</p>
                            <div class="social-links">
                                <a href="https://www.linkedin.com/in/rudyweiler/" class="social-link" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                                <a href="https://github.com/rudyweiler" class="social-link" target="_blank" rel="noopener noreferrer">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-members-grid">
                    <div class="team-member-card">
                        <img [src]="'/assets/images/Brian.jpg'" class="rounded float-left">
                        <div class="card-content">
                            <h3>Brian Whisenhunt</h3>
                            <p class="role">Co-CEO, Founder, and Creator</p>
                            <p class="description">With a strong history of work experience in business and management, Brian has also included technical training of Full Stack web and software development.</p>
                            <div class="social-links">
                            <a href="https://www.linkedin.com/in/bwhisenhunt/>" class="social-link" target="_blank" rel="noopener noreferrer">LinkedIn</a>
                            <a href="https://github.com/BWhisehunt" class="social-link" target="_blank" rel="noopener noreferrer">GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>