/* Responsive adjustments */
@media (max-width: 768px) {
    .main-content {
        margin-top: calc(100px + 1rem);
    }

    .welcome-header {

        font-size: 24px;
        padding: 10px;
    }

    .purchases-title {
        font-size: 20px;
        padding: 10px;
    }

    .btn {
        font-size: 16px;
        padding: 8px 16px;
    }

    .table-container {
        overflow-x: auto;
    }

    .table-dark th,
    .table-dark td {
        font-size: 14px;
        padding: 8px;
    }
}

@media (max-width: 576px) {
    .pie-chart {
        width: 100%;
        height: auto;
    }

    .table-dark th,
    .table-dark td {
        font-size: 12px;
        padding: 6px;
    }
}