<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="profile">Welcome, {{currentUser.name}}</h1>
        </div>

    </div>
    <div class="row">
        <div class="col">
            <div>
                <h3 class="profile">Purchases</h3>
                <div *ngFor="let crypto of assets" >
                        <img id="cryptoIcon" src="https://static.coinpaprika.com/coin/{{crypto.crypto_id}}/logo.png" />
                        <p class="assetTableItem" style="font-weight: 700;">{{crypto.name}}</p>
                        <p class="assetTableItem">Amount: {{crypto.amount}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <canvas id="profile-chart"></canvas>
        </div>
    </div>
    <p>
        <!-- {{ transaction.buyDate | date:'medium' }} -->
    </p>
</div>