<app-navbar></app-navbar>

<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1 class="profile">Welcome, {{currentUser.name}}</h1>
        </div>
        <div class="col" style="text-align: end;">
            <h2 class="profile">Account Balance: ${{currentUser.balance}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div>
                <h4 class="profile">Purchases</h4>
                <div *ngFor="let crypto of assests">
                    <p>Name: {{crypto.name}} | Amount: {{crypto.amount}}</p>
                </div>
            </div>
        </div>
    </div>

</div>